{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ali Fitness Club{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div class="container">
        <nav class="sidebar" id="sidebar">
            <h2>Admin Panel</h2>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'choice_tariff' %}">Choose Tariff</a></li>
                    <li><a href="{% url 'add_user' %}">Add User</a></li>
                    <li><a href="{% url 'user_list' %}">Foydalanuvchilar Royxati</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% endif %}
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="main-content" id="main-content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
